.animate-slider-container {
  margin: auto;
  position: relative;
}
.animate-slider-container .animate-slider {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1%;
  overflow: hidden;
  perspective: 2000px;
}
.animate-slider-container .animate-slider > div {
  width: calc(100% / var(--slides));
  height: 85%;
  margin: 0;
}

.animate-slider-container .slider-prev-btn,
.animate-slider-container .slider-next-btn {
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  aspect-ratio: 1;
  background-color: transparent;
  border: none;
}

.animate-slider-container .slider-prev-btn {
  left: -2%;
  background: url(./images/slider-prev-btn.png) no-repeat center;
  background-size: 100%;
  cursor: pointer;
}

.animate-slider-container .slider-next-btn {
  right: -2%;
  background: url(./images/slider-next-btn.png) no-repeat center;
  background-size: 100%;
  cursor: pointer;
}

.animate-slider-container .dots-container {
  width: 50%;
  height: 10%;
  position: absolute;
  bottom: 0;
  left: 50%;
  translate: -50% 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  column-gap: calc(var(--slides) * 2%);
}
.animate-slider-container .dot {
  width: calc(10% / var(--slides));
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--dot-color);
  user-select: none;
}
.animate-slider-container .active-dot {
  background-color: var(--active-dot);
}
/* Animation & Keyframes */
/* Scale animation */

.scale-out-animate {
  animation: scale-out-animate var(--duration) var(--timing-function) forwards;
}

@keyframes scale-out-animate {
  from {
    scale: 0 1;
  }
  to {
    scale: 1;
  }
}

/* Fade animation */
.fade-out-animate {
  animation: fade-out-animate var(--duration) var(--timing-function) forwards;
}

@keyframes fade-out-animate {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Rotate animation */
.rotate-out-animate {
  animation: rotate-out-animate var(--duration) var(--timing-function) forwards;
}

@keyframes rotate-out-animate {
  from {
    transform: rotateX(-250deg) scale(0.5);
  }
  to {
    transform: rotateX(0deg) scale(1);
  }
}
/* Mirror animation */
.mirror-out-animate {
  animation: mirror-out-animate var(--duration) var(--timing-function) forwards;
}

@keyframes mirror-out-animate {
  from {
    transform: rotateY(-180deg) scale(0.5);
  }
  to {
    transform: rotateY(0deg) scale(1);
  }
}
/* Pop-up animation */
.pop-up-out-animate {
  animation: pop-up-out-animate var(--duration) var(--timing-function) forwards;
}

@keyframes pop-up-out-animate {
  from {
    scale: 0.3;
  }
  to {
    scale: 1;
  }
}
